@model BookListModel
@using Bookish.Controllers

@{
    ViewData["Title"] = "Book List";
}

<div class="text-center">
    <h1 class="display-4">Book List</h1>
    @foreach (BookModel book in Model.Books)
    {
        <p>Name: @book.Name</p><br>
        <p>Author: @book.Author</p><br>
        <p>Genre: @book.Genre</p><br>
    }
    
</div>
