@model BookModel
@using Bookish.Controllers

@{
    ViewData["Title"] = "Book";
}

<div class="text-center">
    <h1 class="display-4">Book</h1>
    <p>Name: @Model.Name</p><br>
    <p>Author: @Model.Author</p><br>
    <p>Genre: @Model.Genre</p><br>
</div>
