@model Bookish.Models.BookshelfModel
@using Bookish.Controllers

@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">Book Catalogue</h1>
    <p>@Html.TextBox("searchinput") <button>Search</button></p>
    @foreach (var book in Model.Books)
    {
    <p>Name: @book.Name</p><br>
    <p>Author: @book.Author</p><br>
    <p>Genre: @book.Genre</p><br>
    }
</div>
