@using Bookish.Controllers
@model Bookish.Models.BookModel

@{
    ViewData["Title"] = "Details";
}

<div>@Html.DisplayNameFor(Model => Model.Name)</div>
<div>@Html.DisplayFor(Model => Model.Name)</div>
<div>@Html.DisplayFor(Model => Model.Author)</div>
<div>@Html.DisplayFor(Model => Model.Description)</div>